.D15441{
  background-color: #d15441;
}
.a321d90{
  background-color: #321d90;
}
.white{
  color: #fff;
}
.grey{
  color: #9c9c9c;
}
.mag{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
.heroku{
  background-color: #a100ff;
}
.fixed{
  position: fixed;
}
.center{ 
  margin-left: 20%;
}
